:root {
    --accent-color:var(--accent-color);
    --blvd-blue:#4F81F7;
    --blvd-white: #ffffff;
}

body {
    background-color: black;
    color: var(--blvd-white);
}



/* HEADER */

nav {
    display: flex;
    font-family: 'Oswald';
    margin-bottom: 20px;
}

.header__nav-bar__logo-area {
    display: flex;
    width: 50%;
    align-items: center;

}

.logo {
    align-items: center;
    width: 50px;
    height: 50px;
}

.header__nav-bar__logo-text{
    display: flex;
}

.header__nav-bar__logo-text:hover{
    color: var(--blvd-blue);
    cursor: default;
}

.header__nav-bar__logo-area p {
    font-size: 40px;
    display: inline-block;
    white-space: nowrap;
}

.header__nav-bar__links {
    font-size: 25px;
    display: flex;
    width: 75%;
}

.header__nav-bar__links a{
    color: var(--blvd-white);
    text-decoration: none;
    margin: 1rem 4rem;
    justify-content: center;
}

.header__nav-bar__links a:hover{
   color: var(--blvd-blue);
}







/* CONTENT-AREA */

.content-area__image-carousel {
    max-width: 1920px;
    width: 100%;
    
}
.content-area__image-carousel__slider-wrapper .content-area__image-carousel__image-list {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    overflow-x: auto;
    margin-bottom: 35px;
    font-size: 0;
    scrollbar-width: none;
}


.content-area__image-carousel__scrollbar-track{
    height: 2px;
    width: 100%;
    background-color:#ffffff;
    position: relative;
    border-radius: 4px;

}

.content-area__image-carousel__scrollbar-thumb .content-area__image-carousel__slider-scrollbar {
    height: 20px;
    width: 50%;
    background-color: black;
    position: absolute;
    border-radius: inherit;
    cursor: grab;
}

.carousel {
    position: relative;
    height: 700px;
    width: 90%;
    margin: 0 auto;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    padding: 15px;
}

.carousel__image:hover {
    height: 102%;
    width: 102%;
}

.carousel__track-container {
    height: 100%;
    position: relative;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel-button {
    color: var(--blvd-white);
    background: none;
    border: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.carousel-button i {
    font-size: 25px;
}

.carousel__button--left {
    left: -40px;
}

.carousel__button--right {
    right: -40px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, .4);
    padding: 10px;
    margin: 0 12px;
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background-color: rgba(255, 255, 255, 1);
    width: 15px;
    height: 15px;
}

.is-hidden {
    display: none;
}

.content-area__image-carousel__main-text{
    position: relative;
    top: -18rem;
    white-space: nowrap;
    flex: auto;
}


.content-area__image-carousel__main-text h1{
    font-family: 'Allison';
    text-align: center;
    font-size: 72pt;
    color: var(--blvd-blue);
    font-weight: bold;
    text-shadow: -1px 2px 9px rgba(0,0,0, 1);
    letter-spacing: 4pt;
    text-decoration: wavy;
}

.content-area__image-carousel__main-text h2{
    font-family: 'Oswald';
    text-align: center;
    font-size: 48pt;
    color: var(--blvd-white);
    letter-spacing: -2px;
    font-weight: 600;
    text-shadow: -1px 2px 9px rgba(0,0,0, 1);
} 
