/* Notes: 
-change the background color of the whole body section 
so that it doesn't brick  
-

*/




:root {
    --accent-color: var(--accent-color);
    --blvd-blue:#4F81F7;
    --blvd-white: #ffffff;
    --blvd-black: #000000;
}

body {
    background-color: black;
    color: var(--blvd-white);
}



/* HEADER */

nav {
    display: flex;
    font-family: 'Oswald';
    margin-bottom: 20px;
    width: 100%;
    
}

.header__nav-bar__logo-area {
    display: flex;
    width: 25%;
    align-items: center;

}

.logo {
    align-items: center;
    width: 50px;
    height: 50px;
}

.header__nav-bar__logo-text{
    display: flex;
}

.header__nav-bar__logo-text:hover{
    color: var(--blvd-blue);
    cursor: default;
}

.header__nav-bar__logo-area p {
    font-size: 40px;
    display: inline-block;
    white-space: nowrap;
}

.header__nav-bar__links {
    font-size: 25px;
    display: flex;
    width: 90%;
    
}

.header__nav-bar__links a{
    color: var(--blvd-white);
    text-decoration: none;
    margin: 1rem 4rem;
    justify-content: center;
}

.header__nav-bar__links a:hover{
   color: var(--blvd-blue);
}





/* CONTENT-AREA */

/* IMAGE_CAROUSEL */
.content-area__image-carousel {
    max-width: 1600px;
    width: 100%;
    display: block;
    
}

.carousel {
    position: relative;
    height: 700px;
    width: 90%;
    margin: 0 auto;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    padding: 15px;
}

/* .carousel__image:hover {
    height: 102%;
    width: 102%;
} */

.carousel__track-container {
    height: 100%;
    overflow-x: auto;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    color: var(--blvd-white);
    background: none;
    border: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.carousel__button i {
    font-size: 62px;
}

.carousel__button--left {
    left: -40px;
}

.carousel__button--right {
    right: -40px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, .4);
    padding: 10px;
    margin: 0 12px;
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background-color: rgba(255, 255, 255, 1);
    width: 15px;
    height: 15px;
}

.is-hidden {
    display: none;
}

.content-area__image-carousel__main-text{
    position: absolute;
    top: 40%;
    left: 17%;
    white-space: nowrap;
    flex: auto;
}


.content-area__image-carousel__main-text h1{
    font-family: 'Allison';
    text-align: center;
    font-size: 90pt;
    color: var(--blvd-blue);
    font-weight: bold;
    text-shadow: 4px 4px 8px rgba(0,0,0,1);
    letter-spacing: 4pt;
    text-decoration: wavy;
}

.content-area__image-carousel__main-text h2{
    font-family: 'Oswald';
    text-align: center;
    font-size: 48pt;
    color: var(--blvd-white);
    letter-spacing: -2px;
    font-weight: 600;
    text-shadow: -1px 2px 9px rgba(0,0,0, 2);
    margin-top: 0;
    position: relative;
    top: -4rem;
} 





/* BEER TYPES */

.content-area__beer-types {
    background-color: var(--blvd-white);
}

.content-area__beer-types__sections{
    display: flex;
    align-items: center;
}

.content-area__beer-types h1{
    font-family: 'Allison';
    text-align: center;
    position: relative;
    top: 3rem;
    font-size: 48pt;
    color: var(--blvd-blue);
    font-weight: bold;
    
}

.content-area__beer-types h2{
    font-family: 'Oswald';
    text-align: center;
    font-size: 48pt;
    color: black;
    letter-spacing: -2px;
    font-weight: 600;
} 

.content-area__beer-types h3{
    font-family: 'Oswald';
    font-size: 28pt;
    color: var(--blvd-blue);
    font-weight: 500;
} 

.content-area__beer-types p{
    font-family: 'Oswald';
    font-size: 16pt;
    color: var(--blvd-black);
} 

.content-area__beer-types i{
    color: var(--blvd-black);
    font-size: 32pt;
    margin: 2rem;
}

.content-area__beer-types__column-desc-left {
    text-align: right;
    padding: 5rem;
    width: 1fr;
}

.content-area__beer-types__column-desc-right {
    text-align: left;
    padding: 5rem;
    width: 1fr;
}

.content-area__beer-types__item{
    display: flex;
    align-items: center;
}

.content-area__beer-types__column-desc-left h3{
    font-family: 'Oswald';
    text-align: right;
    font-size: 28pt;
    color: var(--blvd-blue);
} 

.content-area__beer-types__column-desc-left p{
    font-family: 'Oswald';
    text-align: right;
    font-size: 16pt;
    color: var(--blvd-black);

} 


.content-area__beer-types__column-img{
    width: 300px;
    margin: 2rem;
    display: flex;
    object-fit: cover;
    height: 400px;
}





/* IMAGE-GALLERY */

.content-area__gallery{
    display: flex;
    background-color: var(--blvd-white);
}

.content-area__gallery__img-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    align-items: center;
    justify-content: center;
}

.content-area__gallery-big{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 592px;
    padding: 1rem;
    display: flex;
}

.content-area__gallery-tall{
    object-fit: cover;
    padding: 1rem;
    height: 592px;
    display: flex;
    width: 100%;
}

.content-area__gallery-right{
    object-fit: cover;
    object-position: center;
    padding: 1rem;
    width: 100%;
    height: 592px;
}

.content-area__gallery__square1{
    width: 100%;
    height: 50%;
    padding-bottom: 10px;
    display: flex;
    object-fit: cover;
    object-position: center;
}

.content-area__gallery__square2{
    width: 100%;
    height: 50%;
    padding-top: 10px;
    display: flex;
    object-fit: cover;
    object-position: center;
}




/* MENU */
.content-area__menu{
    background-color: var(--blvd-white);
}

.content-area__menu__header{
    background-color: var(--blvd-white);
    padding-top: 1rem;

}

.content-area__menu__header h1{
    font-family: 'Allison';
    text-align: center;
    position: relative;
    top: 3rem;
    font-size: 48pt;
    color: var(--blvd-blue);
    font-weight: bold;
    
}

.content-area__menu__header h2{
    font-family: 'Oswald';
    text-align: center;
    font-size: 48pt;
    color: black;
    letter-spacing: -2px;
    font-weight: 600;
} 

.content-area__menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-area__menu-container__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-area__menu-container__item img{
    width: 50px;
    height: 40px;
    margin: 2rem;
}

.content-area__menu-text-top {
    display: flex;
    margin: 0;
}

.beer-name{
    font-family: 'Oswald';
    font-size: 32px;
    color: black;
    font-weight: 600;
    text-align: left;
}

.price {
    font-family: 'Oswald';
    font-size: 24px;
    color: black;
    font-weight: 600;
}

.content-area__menu-container__item h4{
    font-size: 12pt;
    color: var(--blvd-blue);
    display: block;
}





/* UPCOMING SHOWS */

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: var(--blvd-white);
    margin: 3rem 3rem;
    align-content: center;
    justify-content: center;
}

.content-area__upcoming-shows{
    background-color: var(--blvd-white);
}

.content-area__upcoming-shows__tile h4{
    font-family: 'Oswald';
    color: white;
    position: relative;
    top: -50%;
    text-align: center;
    justify-content: center;
    font-weight: 800;
    font-size: xx-large;
}